*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family:digital-7;
  src: url('digital-7.ttf');
  font-family: FFF;
  src: url("FFFFORWA.TTF");
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.brand{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-size: 14px;
  font-family: FFF;
  background-color: rgb(69, 68, 68);
}
.frame{
  width: 350px;
  height: 600px;
  border: 5px solid ;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(69, 68, 68);
  box-shadow: 15px 15px 25px;
}
.calculator {
    width: 100%;
    height: 100%;
    
  }
  
  input[type="text"] {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    font-size: 80px;
    letter-spacing: 5px;
    text-align: right;
    border: 10px solid;
    background: rgba(112, 235, 140, 0.5);
    font-family: digital-7;


  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    
  }
  
  button {
    width: 100%;
    height: 40px;
    font-size: 35px;
    border-radius: 15px;
    background-color: rgb(180, 187, 189);
    color: white;
  }
  .red{
    background-color: rgb(241, 79, 79);
  }
  .black{
    background-color: rgb(24, 22, 22);
  }
  .dot text{
    
  }
  